<div>
 
<h3>Creación</h3>
  <div>
    <form
      action="/admin/class/create/newClass"
      method="post"
    >
      <div>
        <label for="name">Grade: </label>
        <input type="number" name="name"/>
      </div>
      <br />
      <div>
        <label for="subName">Letter: </label>
        <input type="text" name="subName"/>
      </div>
      <br />
      <button class="btn btn-secondary">Commit</button>
    </form>

</div>