<div>

    <h2>Lista de Usuarios</h2>

    <div>
        {{#each allUsers}}

        <li><a href="admin/{{_id}}">{{firstName}} {{lastName}}</a></li>
        <br>

        {{/each}}
    </div>

    <div></div>
</div>