body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-color: #f1ead7;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.web {
  background-color: #f1ead7;
  margin-left: 22%;
  margin-right: -30%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}
.loginSignup {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.perfilUsuario {
  flex-direction: row;
}
.perfilUsuario ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 19px;
  margin: 0 42% 5% 42%;
  gap: 10px;
}

.perfilUsuario img {
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  margin-left: 35%;
}

.perfilAlumno {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.perfilAlumno ul {
  list-style-type: none;
  margin-left: -30px;
}

.perfilAlumno img {
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
  margin-left: 35%;
}

.classIndex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
