body {
  padding: 30px;
  font: 14px 'Roboto', sans-serif;
  background-color: #f1ead7;
}

a {
  color: #00b7ff;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  color: 15px;
}

.web {
  background-color: #f1ead7;  
  font-weight: bold;
}

.index{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer{
  font-weight: bold;
  position: fixed;
  width: 96.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  text-align: center;
  height: 6%;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}
.loginSignup {
  border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.perfilUsuario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 450px;
}
.user-info{
  padding: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info p {
  left: 20px
}
.perfilUsuario ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 19px;
  gap: 10px;
}

.perfilUsuario img {
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.perfilAlumno {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 2%;
}
.perfilAlumno ul {
  list-style-type: none;

}

.perfilAlumno img {
  width: 80%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.allCards{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  
}

.oneCLass {
  display: flex;
  gap: 100px;
  align-items: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  max-height: 500px;
  overflow-y: auto;
}

.alumns {
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container{
  padding: 2%;
  height: 50%;
  width: 300px;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 7px 5px 5px grey;

}
.buton {
  width: 100px;
}

.classList{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;

}

.classForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 0 20%;
  padding: 2%;
  box-shadow: 10px 5px 5px grey;
}

.admin {
  text-align: center;
}

.adminCard {
  display: flex;
  align-items: center;
}

.comment-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2%;
  gap: 10px;
}

.comments {
  max-height: 250px;
  overflow-y: auto;
}