<div class = "card-container">
    <div class = "classForm card">

        <form action="/alumn/create" method="post" enctype='multipart/form-data'>
            <div>
                <label for="image" class="form-label"><b>Profile photo:</b></label>
                <input type="file" name="image" class="form-control">
            </div>

            <br>

            <div>
                <div>
                    <label for="firstName" class="form-label"><b>Name:</b></label>
                    <input type="text" name="firstName" class="form-control">
                </div>
                <br>
                <div>
                    <label for="lastName" class="form-label"><b>Last name:</b></label>
                    <input type="text" name="lastName" class="form-control">

                </div>
                <br>
                <div>
                    <label for="classroom" class="form-label"><b>Class:</b></label>
                    <input type="text" name="classroom" class="form-control">
                </div>
                <br>
                <div>
                    <label for="contactPerson" class="form-label"><b>Contact person:</b></label>
                    <input type="test" name="contactPerson" class="form-control">
                </div>
                <br>
                <div>
                    <label for="contactEmail" class="form-label"> <b>Contact email:</b></label>
                    <input type="text" name="contactEmail" class="form-control">
                </div>
                <br>
                <div>
                    <label for="contactPhone" class="form-label"><b>Contact phone:</b></label>
                    <input type="text" name="contactPhone" class="form-control">
                </div>
                <br>
                <div>
                    <button class="btn btn-secondary" style="background-color: #010158">Commit</button>
                </div>
            </div>
        </form>

    </div>
</div>