<div class = "card-container">
    <div class = "classForm card">

    <form action="/alumn/create" method="post" enctype='multipart/form-data'>
            <div>
                <label for="image" class="form-label">Profile photo: </label>
                <input type="file" name="image" class="form-control">

            </div>

            <br>

            <div>
                <div class="mb-3 row">
                    <label for="firstName" class="col-sm-2 col-form-label"><b>Name:</b></label>
                    <div class="col-sm-10">
                        <input type="text" name="firstName" class="form-control">
                    </div>
                </div>
                <br>

                <div class="mb-3 row">
                    <label for="lastName" class="col-sm-2 col-form-label"><b>Last name:</b> </label>
                    <div class="col-sm-10">
                        <input type="text" name="lastName" class="form-control">
                    </div>
                </div>
                <br>
                <div>
                    <label for="classroom">Class: </label>
                    <input type="text" name="classroom">
                </div>
                <br>
                <div>
                    <label for="contactPerson">Contact person: </label>
                    <input type="test" name="contactPerson">
                </div>
                <br>
                <div>
                    <label for="contactEmail">Contact email: </label>
                    <input type="text" name="contactEmail">
                </div>
                <br>
                <div>
                    <label for="contactPhone">Contact phone: </label>
                    <input type="text" name="contactPhone">
                </div>
                <br>
                </div>
                <br>

                <div>
                    <button class="btn btn-secondary">Commit</button>
                </div>
            </div>
        </form>

</div>
</div>