<div>
  <h3>New comment: </h3>
  <div>
    <form action="/alumn/{{_id}}/newcomment" method="post">
      <div>
        <textarea class="form-control" name="comment"></textarea>
      </div>
      <br />

      <button>Commit</button>

    </form>
  </div>

</div>